@media (min-width: 1px) {
  html {
    font-size: 7.5px;
  }

  .container__preview {
    flex-direction: column-reverse;
    padding: 3rem 0 9.7rem;
  }

  .container__header {
    align-items: center;
  }

  .header > .container__header {
    max-width: none;
  }

  .menu, .contacts {
    display: none;
  }

  .hamburger {
    display: inline-flex;
  }

  .preview__general {
    align-items: center;
    text-align: center;
  }

  .preview__title {
    max-width: 40rem;
  }

  .preview__beats {
    margin-bottom: 9rem;
  }

  .advantages__list {
    display: none;
  }

  .strengths__list {
    display: flex;
    flex-direction: column;
  }

  .strengths__item {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    flex-wrap: wrap;
  }
  .strengths__item:last-child {
    padding-bottom: 0;
  }
  .strengths__item:first-child {
    padding-top: 0;
  }
  .strengths__item-text {
    text-align: left;
    width: 25rem;
  }
  .strengths__item-image {
    margin-bottom: 0;
  }

  .review__item {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .review__descr {
    max-width: none;
  }

  .reviewer__photo {
    margin-right: 0;
    width: 130px;
  }

  .form__column {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1.1rem;
  }
  .form__column:nth-last-of-type(1) {
    margin-bottom: 0;
  }

  .order__form {
    flex-direction: column;
  }

  .form__controls, .form__buttons {
    justify-content: center;
  }

  .container__footer {
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
  }

  .footer__col > .contacts--footer {
    align-items: center;
  }

  .contacts__direction {
    margin-bottom: 1rem;
  }

  .footer__col--align--left {
    margin-bottom: 1rem;
  }
}
@media (min-width: 480px) {
  .strengths__item-image {
    margin-right: 12px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 10px;
  }

  .header > .container__header {
    max-width: 91rem;
    align-items: flex-start;
  }

  .menu, .contacts {
    display: flex;
    align-items: center;
  }

  .menu {
    margin: 0 30px;
  }
  .menu__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .preview__title {
    max-width: 66rem;
  }

  .hamburger {
    display: none;
  }

  .container__strengths::before {
    transform: translate(705%, -813%) rotate(-45deg);
  }

  .strengths__list {
    flex-direction: row;
  }

  .strengths__item {
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0;
    text-align: center;
  }
  .strengths__item-title {
    width: auto;
  }
  .strengths__item-descr {
    width: auto;
  }
  .strengths__item:last-child {
    padding-right: 0;
  }
  .strengths__item:first-child {
    padding-left: 0;
  }
  .strengths__item-text {
    text-align: center;
  }
  .strengths__item-image {
    margin-right: 0;
    margin-bottom: 2.4rem;
  }

  .container__footer {
    flex-direction: row;
    padding: 3rem 3rem;
  }

  .footer__col > .contacts--footer {
    align-items: flex-start;
  }

  .contacts__direction {
    margin-bottom: 0;
  }

  .footer__col--align--left {
    margin-bottom: 0;
  }

  .order__form {
    padding: 0 10rem;
  }

  .form__controls {
    justify-content: flex-start;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 10px;
  }

  .preview__title {
    max-width: 40rem;
  }

  .review__item {
    flex-direction: row;
    text-align: left;
  }

  .reviewer__photo {
    margin-right: 3.9rem;
    width: 253px;
  }

  .order__form {
    flex-direction: row;
  }

  .form__column {
    width: 50%;
    margin-right: 2.7rem;
    margin-bottom: 0;
  }

  .form__controls {
    flex-direction: row;
  }

  .form__controls, .form__buttons {
    justify-content: flex-start;
  }

  .container__preview {
    flex-direction: row;
    padding: 3rem 0;
  }

  .preview__general {
    text-align: left;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .preview__title {
    text-align: left;
  }

  .advantages__list {
    display: flex;
    justify-content: flex-start;
  }

  .review__descr {
    max-width: 49.8rem;
  }

  .contacts--footer {
    align-items: flex-start;
    padding: 0;
  }

  .container__strengths::before {
    transform: translate(885%, -913%) rotate(-45deg);
  }

  .strengths__item {
    padding: 0 3.25rem;
  }

  .order__form {
    padding: 0;
  }
}