.main {
    color: white;
    border: white;

    &__lol {
        color: red;
    }

}

h1 {
    color: red;
}

h2 {
    display: flex;
    transform: translate(-50%, -50%);
    width: 100px;
    border: 1px gray;
}
