a, a:active {
  text-decoration: none;
  color: inherit;
}

*, ::before, ::after {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 108%;
  text-transform: uppercase;
  text-align: center;
}

html {
  height: 100%;
}

body {
  font-family: "Play", sans-serif;
  color: #292929;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper {
  min-height: 100%;
  min-width: 110rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper__content {
  flex: 1;
  margin-bottom: 5rem;
  background: white;
}

section {
  height: 100vh;
}

.container {
  width: 91.5rem;
}

.container__preview {
  display: flex;
  align-items: center;
  min-height: 47rem;
  background: url("../../images/content/beats-main.png") right center/50% auto no-repeat;
}

.preview {
  padding: 2.4rem 0 6.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #f5f5f5;
}

.content {
  background-color: #E01F3D;
}

.button {
  padding: 2.1rem 4.1rem;
  border-radius: 10rem;
  border: 0;
  background-color: #E01F3D;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 112%;
  outline: 0;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3;
}
.button:hover {
  filter: brightness(1.1);
}