.footer {
  display: flex;
  justify-content: center;
  position: relative;
}
.footer__col {
  display: flex;
}
.footer__col--align--left {
  flex-direction: column;
}
.footer__col--align--right {
  justify-content: flex-end;
}

.container__footer {
  position: absolute;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contacts--footer {
  display: flex;
  flex-direction: column;
}

.contacts__number {
  display: flex;
  align-items: center;
}

.socials {
  display: flex;
}
.socials__item {
  margin-right: 1rem;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}
.socials__item:last-child {
  margin-right: 0;
}
.socials__item:hover {
  fill: #b3b3b3;
}