.preview__general {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.preview__title {
  max-width: 40rem;
  margin-bottom: 2.4rem;
  text-align: left;
}

.preview__descr {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 2.1rem;
  max-width: 33.2rem;
  line-height: 120%;
  margin-bottom: 3.3rem;
}

.preview__button {
  margin-bottom: 6.7rem;
}

.advantages__list {
  display: flex;
}

.advantages__item {
  width: 16.6rem;
  margin-right: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.advantages__item:last-child {
  margin-right: 0;
}

.advantages__descr {
  width: 11.4rem;
  font-size: 1.6rem;
  margin-bottom: 0;
}

.pagination {
  position: fixed;
  top: 31%;
  right: 14%;
  z-index: 100;
}

.pagination__item {
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.3rem;
  border: 0.1rem solid transparent;
  border-radius: 50%;
}

.pagination__item:last-child {
  margin-bottom: 0;
}

.pagination__link:hover {
  background: #E01F3D;
  opacity: 1;
}

.pagination__link {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: #292929;
  opacity: 0.6;
  transition: 0.3;
}

.pagination__item--active {
  border-color: #E01F3D;
}

.pagination__item--active .pagination__link {
  background: #E01F3D;
  opacity: 1;
}